html {
  font-size: 16px;

  margin-bottom: 500px;
}

.user-section {
  background-color: rgb(223, 222, 222);
}

.user-cards__card {
  text-align: center;
  color: #999999;
  border-bottom: 1px solid tomato;
  border-bottom-color: inherit;
  padding: 2rem 0;
}

.user-cards__card__image {
  display: inline-block;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 1px solid rgb(151, 151, 151);
  padding: 6px;
  margin-bottom: 1.5rem;
}

.user-cards__card__title {
  font-weight: normal;
  font-size: 1.4rem;
}

@media screen and (min-width: 650px) {
  .user-cards__card {
    text-align: left;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 3fr;
  }
  .user-cards__card--rtl {
    text-align: right;
    grid-template-columns: 3fr 1fr;
  }
  .user-cards__card--rtl .user-cards__card__image {
    grid-column: 2 / span 1;
  }
  .user-cards__card--rtl .user-cards__card__title {
    grid-row: 1;
  }
  .user-cards__card__image {
    width: 100%;
    height: initial;
    aspect-ratio: 1;
    grid-row: span 2;
  }
  .user-cards__card__title {
    align-self: flex-end;
  }
  .user-section {
    padding: 0 6%;
  }
}
